certifi==2020.4.5.1
chardet==3.0.4
coloredlogs==14.0
dataclasses==0.7
geoip2==3.0.0
humanfriendly==8.2
idna==2.9
infra==0.0.3
ipaddress==1.0.23
maxminddb==1.5.4
netifaces==0.10.9
pymodm==0.4.3
pymongo==3.10.1
requests==2.23.0
urllib3==1.25.9
flask==1.1.2
waitress==1.4.4
render_template
re
os
glob